*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.wrapper{
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    background-color: black;
    text-align: center;
}

.text {
    font-size: 20px;
    color: white;
}

.content label{
    color: white;
    font-size: 20px;
    text-align: center;
}
.content{
    width: 50%;
    padding: 10px;
    color: black;
    top: 50px;
    left: 50px;
    align-items: center;
    margin: auto;
}

input{
    width: 100%;
    padding: 5px;
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

input:focus{
    background-color: burlywood;
    border: none;
}

option{
    width: 100%;
    padding: 50px;
    margin: 15px;
    background-color: gray;
    margin-top: 10px;
    color: white;
    margin-bottom: 15px;
    padding-right: 20px;
}

.gender{
    display: block;
}
.btn{
    width: 200px;
    cursor: pointer;
    border-radius: 7px;
    color: white;
    padding: 8px 12px;
}